@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --gris: rgb(125, 124, 124);
    --blanco: rgb(247, 242, 242);
    --rojo: rgb(199, 46, 46);
    --negro: rgb(0, 0, 0);
    --bg-footer: rgba(247, 242, 242, 0.8);
    --bg-gris: rgb(192, 192, 192);
    --bg-negro: rgba(0, 0, 0, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: var(--bg-negro);
}

/* ENCABEZADO */
header{
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid var(--gris);
}
.logo{
    height: 80px;
    object-fit: scale-down;
}
.navbar .logo:hover{
    filter: drop-shadow(0px -1px 2px rgb(125, 124, 124));  
}

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1400px;
}
.navbar-list{
    display: flex;
}
.navbar-list li a{
    font-size: 16px;
    background: none;
    color: var(--gris);
    font-weight: 600;
    display: block;
}
.navbar-list li a:hover{
    background: var(--blanco);
    color: var(--rojo);
}

.navbar-list li{
    float: left;
    position: relative;
    text-align: center;
    line-height: 25px;
    padding: 0;
}

.navbar-list li a::after{
    content: "";
    height: 2px;
    width: 100%;
    background: var(--rojo);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* TRANSPORTADORES */
#transportadores{    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/* PORTADA */
.portada-transportadores{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-image:url(./portada/tranmp\ portada.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 3px solid black;
    border-top: none;
}
#transportadores h1{
    font-size: 40px;    
    font-weight: 900;
    text-decoration: underline;
    color: var(--blanco);
    padding-bottom: 10px;
    text-shadow: 3px 3px 2px rgb(199,46,46);    
    letter-spacing: 10px;
    animation: translateX 4s forwards;
}
@keyframes translateX{
    0%{
        transform: translateX(-350px);
    }
    100%{
        transform: translateX(0);
    }
}

/* PAGINA */
.pagina{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../bg4contacto.jpg);
    background-size: cover;
    border: 3px solid var(--blanco);
    margin-bottom: 150px;
}

/* TITULO */
#transportadores h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    padding: 20px 20px 0 20px;
    color: var(--negro);
    background: var(--blanco);
    background-size: cover;
    border-start-end-radius: 40px;
    border-start-start-radius: 40px;
}
/* BANNER */
.bannercontent{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .4);
    display: flex;
}

/* LISTA */
.dato-list{
    border-radius: 1rem;
    width: 35%;
    /* min-height: 100vh; */
    padding: 20px 40px;
    display: flex;
    justify-content: stretch;
}
.dato-list ul{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dato-list ul li{
    font-size: 22px;
    text-align: end;
    color: var(--blanco);
    font-weight: 600;
    letter-spacing: 2px;
}

/* GALERIA */
.galeria{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    width: 65%;
    /* margin: auto; */
    gap: 5px;
    padding: 20px 40px 20px 20px;
}
.galeria img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    border: 3px solid black;
}

/* MODAL */
.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -1000px;
}
.modal:target{
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
.modal h4{
    color: var(--blanco);
    font-size: 23px;
    text-align: center;
    margin: 20px 0 -20px 0;
}
/* DIV MODAL */
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 89.5%;
}
/* ITEMS DE MODAL */
.img a{
    color: white;
    font-size: 40px;
}
.img a:first-child{
    position: absolute;
    left: 0;
    top: calc(50vh - 100px);
    margin: 3px;
}
.img a:nth-child(2){
    flex-shrink: 2;
}
.img a:nth-child(3){
    position: absolute;
    right: 0;
    top: calc(50vh - 100px);
    margin: 3px;
}
/* IMAGEN */
.img img{
    max-height: 60vh;
    object-fit: contain;
    border: 4px solid white;
    border-radius: 1rem;
    margin-bottom: 95px;
}
/* CRUZ DE CIERRE */
.cerrar{
    position: absolute;
    align-self: flex-end;
    padding-bottom: 106px;
}
.cerrar i{
    font-size: 30px;
    margin-bottom: 4px;
    background: var(--negro);
    color: var(--blanco);
    border-radius: 50%;
    padding: 5px;
}
/* ICONOS */
.img i:hover{
    color: var(--bg-gris);
}

/* PIE DE PAGINA */
footer{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 60px;
}



/* MEDIAQUERIES */
@media (max-width: 992px){
    h1{
        text-align: center;
    }
    .dato-list{
        width: 100%;
        min-height: unset;
    }
    .dato-list ul{
        gap: unset;
        justify-content: center;
        align-items: center;
    }
    .dato-list ul li{
        font-size: 20px;
        text-align: center;
    }
    .galeria{
        width: 100%;
    }    
    .bannercontent{
        flex-direction: column;
    }
    .img img{
        max-width: 85vw;
    }
}

@media (max-width: 576px){
    #transportadores h1{
        font-size: 27px;    
        font-weight: 900;
        letter-spacing: 2px;
    }
    .portada-transportadores{
        background-position: calc(left - 1px);
        height: 40vh;
    }
    #transportadores h2{
        font-size: 24px;
    }
    .dato-list ul{
        gap: 6px;
    }
    .dato-list ul li{
        font-size: 18px;
    }
    .img img{
        max-width: 75vw;
        max-height: 90vh;
    }
    .img a{
        font-size: 25px;
    }
    footer{
        flex-direction: column;
        gap: unset;
        padding: 0 5px 10px 5px;
    }
    footer img{
        width: 100px;
        object-fit: scale-down;
        padding-top: 3px;
    }
    footer p{
        text-align: center;
    }
}
