@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --gris: rgb(125, 124, 124);
    --blanco: rgb(247, 242, 242);
    --rojo: rgb(199, 46, 46);
    --negro: rgb(0, 0, 0);
    --bg-footer: rgba(247, 242, 242, 0.8);
    --bg-gris: rgb(192, 192, 192);
    --bg-negro: rgba(0, 0, 0, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: var(--blanco);
}

/* ENCABEZADO */
header{
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid var(--gris);
}
.logo{
    height: 80px;
    object-fit: scale-down;
}
.navbar .logo:hover{
    filter: drop-shadow(0px -1px 2px rgb(125, 124, 124));  
}

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1400px;
}
.navbar-list{
    display: flex;
}
.navbar-list li a{
    font-size: 16px;
    background: none;
    color: var(--gris);
    font-weight: 600;
    display: block;
}
.navbar-list li a:hover{
    background: var(--blanco);
    color: var(--rojo);
}

.navbar-list li{
    float: left;
    position: relative;
    text-align: center;
    line-height: 25px;
    padding: 0;
}

.navbar-list li a::after{
    content: "";
    height: 2px;
    width: 100%;
    background: var(--rojo);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}

#transportadores{    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portada-transportadores{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);    
    background-image:url(./portada/tranmp\ portada.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 3px solid black;
    border-top: none;
    box-shadow: 0px 22px 39px 7px rgba(0,0,0,0.75);    
}
.pagina{
    max-width: 1400px;
    width: 100%;
}
#transportadores h1{
    font-size: 40px;    
    font-weight: 900;
    text-decoration: underline;
    color: var(--blanco);
    padding-bottom: 10px;
    text-shadow: 3px 3px 2px rgb(199,46,46);    
    letter-spacing: 10px;
}

#transportadores h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 60px 0 0 0;
    color: var(--negro);
    text-shadow: 3px 3px 2px rgb(199,46,46);
}
#transportadores p{
    font-size: 18px;
    text-align: center;
    padding: 10px 25px;
    color: var(--negro);
    font-weight: 600;
}

/* GALERIA */

.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 90%; */
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    gap: 10px;
}
.galeria img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    border: 3px solid black;
    box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.75);
}

.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -1000px;
}
.modal:target{
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    
    
    
}
.modal h4{
    color: var(--blanco);
    font-size: 23px;
    text-align: center;
    margin: 20px 0 -20px 0;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: unset;
    height: unset; */
    position: relative;
    height: calc(100vh - 150px);
}
.img a{
    color: white;
    font-size: 40px;
}
.img a:first-child{
    position: absolute;
    left: 0;
    top: calc(50vh - 100px);
    margin: 3px;
}
.img a:nth-child(2){
    /* margin: 0; */
    
    flex-shrink: 2;
    /* padding-bottom: 13px; */
}
.img a:nth-child(3){
    position: absolute;
    right: 0;
    top: calc(50vh - 100px);
    margin: 3px;
}
/* .img a:last-child{
   
} */

.img img{
    max-height: 400px;
    border: 4px solid white;
    border-radius: 1rem;
}
.cerrar{
    position: absolute;
    align-self: flex-end;
}
.cerrar i{
    font-size: 30px;
    margin-bottom: 4px;
    background: var(--negro);
    color: var(--blanco);
    border-radius: 50%;
    padding: 5px;
}
.img i:hover{
    color: var(--bg-gris);
}

footer{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 60px;
}



/* MEDIAQUERIES */
@media (max-width: 992px){
    h1{
        text-align: center;
    }


}

@media (max-width: 576px){
    #transportadores h1{
        font-size: 27px;    
        font-weight: 900;
        letter-spacing: 2px;
    }

    .portada-transportadores{
        background-position: calc(left - 1px);
        height: 50vh;
        
    }

    #transportadores h2{
        display: none;
    
    }
    #transportadores p{
        font-size: 18px;
        
        padding: 35px 15px 25px 15px;
        
    }




    footer{
        flex-direction: column;
        gap: unset;
        padding: 0 5px 10px 5px;

    }
    footer img{
        width: 100px;
        object-fit: scale-down;
        padding-top: 3px;
    }
    footer p{
        text-align: center;
        /* padding: 0 5px 10px 5px; */
    }
}
