@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --gris: rgb(125, 124, 124);
    --blanco: rgb(247, 242, 242);
    --rojo: rgb(199, 46, 46);
    --negro: rgb(0, 0, 0);
    --bg-footer: rgba(247, 242, 242, 0.8);
    --bg-gris: rgb(192, 192, 192);
    --bg-negro: rgba(0, 0, 0, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    /* padding-top: 30px; */
    background: var(--blanco);
}

/* ENCABEZADO */
header{
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid var(--gris);
}
.logo{
    height: 80px;
    object-fit: scale-down;

}

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.navbar-list{
    display: flex;
}
.navbar-list li a{
    background: none;
    color: var(--gris);
    padding: 6px 8px;
    display: block;
}
.navbar-list li a:hover{
    background: var(--blanco);
    color: var(--rojo);
}
.navbar-list li{
    float: left;
    position: relative;
    width: 130px;
    text-align: center;
    line-height: 25px;
}

.navbar-list li ul{
    display: none;
    position: absolute;
    min-width: 130px;
    background: var(--blanco);
}
.navbar-list li:hover > ul{
    display: block;
}
/* MENU HAMBURGUESA */
.menu-icon{
    color: grey;
    font-size: 25px;

}

.menu-label,
#menu-toggle{
    display: none;
}



/* HERO */

#hero{
    /* max-width: 1200px; */
    background-image: url(./hero/frente\ ok.jpg);
    position: relative;
    /* height: calc(100vh - 100px); */
    height: calc(100vh - 100px);
    
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    width: 100%;
    /* margin-top: 100px; */
    animation: banner 30s infinite ease-in-out;
    /* border-radius: 1rem; */




}

.banner-content{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 1rem; */

}

.banner-content h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
    color: var(--blanco);
}
.banner-content a{
    padding: 9px 20px;
    border: 1px solid var(--blanco);
    transition: all .3s ease-in-out;
    color: var(--blanco);
    border-radius: 1rem;
}
.banner-content a:hover{
    background: var(--rojo);
    color: var(--blanco);
}



@keyframes banner{
    0%{
        background-image: url(./hero/frente\ ok.jpg ok.jpg);
    }
    20%{
        background-image: url(./hero/frente\ ok.jpg);
    }
    21%{
        background-image: url(./hero/mecanizados\ ok.jpg);
    }
    40%{
        background-image: url(./hero/mecanizados\ ok.jpg);
    }
    41%{
        background-image: url(./hero/Prueba\ de\ func\ 112358.jpg);
    }
    60%{
        background-image: url(./hero/Prueba\ de\ func\ 112358.jpg);
    }
    61%{
        background-image: url(./hero/ok1.jpg);
    }
    80%{
        background-image: url(./hero/ok1.jpg);
    }
    81%{
        background-image: url(./hero/20160407_103108.jpg);
    }
    100%{
        background-image: url(./hero/20160407_103108.jpg);
    }

}

/* CONTACTANOS */
/* .arco{
    width: 100%;
    height: 40px;
    background-color: var(--gris);
    border-start-start-radius: 130%;
    border-start-end-radius: 130%;
    position: absolute;
    top: 100vh;
    border-top: 3px solid var(--blanco);
} */
#contactanos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: var(--gris);
    border-top: 2px solid var(--blanco);
    border-bottom: 2px solid var(--blanco);
    /* position: absolute; */
}
.contactanos{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    
    height: 150px;
    
    /* margin-top: 10px; */
    
    gap: 30px;
    /* border-top-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem; */
    
    
    
    /* margin-bottom: 23px; */
    
}
.contactanos p{
    font-size: 28px;
    /* padding-top: 11px; */
    color: var(--blanco);
    text-align: center;
    
}
.contactanos a{
    padding: 9px 20px;
    border: 1px solid var(--blanco);
    background: var(--rojo);
    color: var(--blanco);
    border-radius: 1rem;
    font-size: 28px;
    

}
.contactanos a:hover{
    background: var(--blanco);
    color: var(--rojo);
    border: 1px solid var(--rojo);
}




/* NOSOTROS */

#nosotros{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 930px;
    position: relative;
    /* gap: 120px; */
    /* border-radius: 1rem; */

}

.background{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 930px;
    position: absolute;
    top: 0;
    width: 100%;
}

.empresa{
    max-width: 1200px;
    text-align: justify;
    background-color: var(--bg-footer);
    border-radius: 1rem;
    z-index: 2;
    border-bottom: 3px solid var(--negro);
    border-left: 3px solid var(--negro);
}
.empresa h2,
.clientes h2,
#servicios h2,
#ingenieria-control h2,
#contacto h2{
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
    color: var(--bg-gris);
}
.clientes h2,
.empresa h2{
    color: var(--gris);
}
.empresa p{
    padding: 30px;
    font-size: 24px;
    color: var(--negro);
    font-weight: 500;
}
.clientes{
    max-width: 1200px;
    align-items: center;
    border-top: 3px solid var(--negro);
    border-right: 3px solid var(--negro);
    z-index: 2;
    background-color: var(--bg-footer);
    border-radius: 1rem;
}
.img{
    display: flex;
    padding: 15px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.clientes img{
    width: 100px;
    height: 70px;
    object-fit: contain;
}

/* SERVICIOS */
#servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 900px; */
    width: 100%;
    background: var(--gris);
    /* gap: 13px; */
    min-height: 900px;
    padding: 30px 10px 50px 10px;
}
#servicios h2{
    color: var(--bg-gris);
}
.products-container{
    display: flex;
    gap: 7.5px;
    flex-wrap: wrap;
    justify-content: center;
    
    max-width: 1200px;
    background: var(--bg-gris);
    padding: 100px 0;
    border-radius: 50%;
}
.product{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 395px;
    height: 395px;
    border-radius: 1rem;
    padding: 70px 0;
    position: relative;
    z-index: 1;
}
.mecanizados:hover{
    box-shadow: -12px 12px 18px -4px var(--rojo);
}
.transmisiones:hover{
    box-shadow: 12px -12px 18px -4px var(--rojo);
}
.transportadores:hover{
    box-shadow: 12px 12px 18px -4px var(--rojo);
}
.product::after,
.ingenieria::after,
.calidad::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 22, 40, .6);
    z-index: -1;
    border-radius: 1rem;
}
.product h3,
.ingenieria h3,
.calidad h3{
    color: var(--blanco);
    font-size: 33px;
    font-weight: 900;
    letter-spacing: 3px;
}
.product ul,
.ingenieria ul,
.calidad ul{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.product ul li,
.ingenieria ul li,
.calidad ul li{
    font-size: 22px;
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
    line-height: 28px;
}
.product button{
    background: none;
    border: 2px solid var(--blanco);
    padding: 10px 35px;
    color: var(--blanco);
    font-weight: 700;
    font-size: 15px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in;

}
.product button:hover,
.banner-content a:hover{
    background: var(--rojo);
    transform: scale(1.1,1.1);
    transition: all 300ms ease-out;
    animation-direction: alternate;

}

.mecanizados{
    background-image: url(./Mecanizados/PIÑON\ Z23\ MN25\ mec\ bg.jpg);
    background-size: cover;
    background-position: center;

}
.transmisiones{
    background-image: url(./Transmisiones/Tren\ de\ engranajes\ 6\ transm\ bg.jpg);
    background-size: cover;
    background-position: center;
}
.transportadores{
    background-image: url(./Transportadores/transportadora\ ok.jpg);
    background-size: cover;
    background-position: center;
}

/* INGENIERIA */
#ingenieria-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-gris);
    position: relative;
    padding-top: 30px;

}
.ing-control{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-height: 997px;
     
}
.background-2{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 997px;
    position: absolute;    
    width: 100%;
    display: flex;
    
}

#ingenieria-control h2{
    color: var(--gris);
    z-index: 2;
}
/* #ingenieria-control .background{
    height: 100%;
} */
.ingenieria,
.calidad{
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 22, 40, .6);
    position: relative;
    z-index: 2;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 35px;
    border: 1px solid var(--blanco);
}
.ingenieria:hover,
.calidad:hover{
    transform: scale(1.05,1.05);
    transition: all 300ms ease-out;
    animation-direction: alternate;
}
.ingenieria{
    background-image: url(./ingenieria.jpg);
}
.calidad{
    background-image: url(./calidad.jpg);
    
}
.calidad ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: flex-start;
}
.ingenieria ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* CONTACTO */

#contacto{
    display: flex;
    flex-direction: column;
    /* height: 900px; */
    max-width: 1400px;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: blue;
    /* border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem; */
    
    /* margin-bottom: 40px; */
    /* border: 5px solid var(--bg-gris); */
    
}

#contacto h2{
    
    font-size: 40px;
    font-weight: 600;
    color: var(--blanco);

}
#contacto p{
    font-size: 25px;
    padding: 15px;
    color: var(--bg-footer);
}

.datos-container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    background: var(--negro);
    padding: 60px 0;
    border-radius: 1rem;
    border: 2px solid var(--bg-gris);


}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    /* padding-left: 130px; */
    background: var(--rojo);

}
.datos h2{
    color: var(--negro);
}
.datos h3{
    text-decoration: underline;
    color: var(--blanco);
    font-size: 20px;

}
.datos h4{
    text-decoration: underline;
    color: var(--blanco);
}
.datos ul{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding-right: 42px;
    padding-bottom: 4px;
    box-shadow: 5px 5px 6px 0px var(--bg-footer);
    background: var(--bg-footer);
    border-top-left-radius: 1rem;
}
.datos ul li{
    padding-left: 8px;
    padding-top: 3px;
    /* font-size: 15px;
    font-weight: 500; */

}
.direccion,
.mail,
.telefono{
    display: flex;
    flex-direction: column;
    gap: 8px;



}

iframe{
    max-width: 500px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.68);


}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.68);
    background: violet;

}
footer{
    background: var(--negro);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 60px;
    
    
    /* border-top: 1px solid var(--gris); */


}


section{
    width: 100%;
    max-width: 1400px;
}



/* MEDIAQUERIES */
@media (max-width: 992px){

    /* NAVBAR */
    .navbar-list{
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        width: 90%;
        display: none;
        flex-direction: column;
        background-color: pink;
        border: 2px solid grey;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        align-items: center;
        display: none;
    }
    .navbar-list li ul{
        display: none;
        left: 140px;
        top: 0px;
        padding: 0 15px;
    }
    .navbar-list li a{
        background: unset;
    }

    /* MENU HAMBURGUESA */
    .menu-label{
        display: flex;
        cursor: pointer;
        order: 2;
    }
    #menu-toggle:checked ~ .navbar-list{
        display: flex;
    }

    /* MAIN */
    main{
        padding-top: unset;
    }

    /* HERO */
    #hero{
        height: calc(100vh - 100px);
    }
    #hero,
    .banner-content{
        border-radius: unset;
    }

    /* CONTACTANOS */
    .contactanos{
        padding: 6px 9px;
    }
    .contactanos p,
    .contactanos a{
        font-size: 25px;
    }

    /* NOSOTROS */
    #nosotros{
        padding: 0 20px;
    }

    /* SERVICIOS */
    
    .product{
        max-width: 90%;
    }

    .transmisiones:hover{
        box-shadow: 12px 12px 18px -4px var(--rojo);
    }

    /* ING-CONTROL */
    .background-2{
        padding: 10px 0;
    }
    .ingenieria,
    .calidad{
        max-width: 90%;
        height: unset;
        padding: 20px 25px;
    }

    /* CONTACTO */
    .datos-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 100%;
    }
    .datos{
        gap: 20px;
        align-items: center;
        width: unset;
        max-width: 90%;
        padding-left: unset;
    }
    .datos h4,
    .datos ul li{
        text-align: center;
    }
    .datos ul{
        padding-left: 42px;
    }

    /* FOOTER */
    footer{
        gap: 30px;
    }
}

@media (max-width: 576px){

    /* HERO */
    #hero{
        display: none;
    }
    main{
        margin-top: 50px;
    }

    /* SERVICIOS */
    .product{
        max-width: 312px;
        height: auto;
    }
    .product h2{
        letter-spacing: unset;
    }
    .mecanizados:hover{
        box-shadow: 12px 12px 18px -4px var(--rojo);
    }

    /* INGENIERIA-CONTROL */
    .ingenieria,
    .calidad{
        width: 90%;
        padding: 15px 20px;
    }
    .ingenieria-list{
        gap: 15px;
    }
    .calidad ul{
        gap: 12px;
    }

    /* CONTACTO */
    .mapa{
        display: none;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        gap: unset;
        padding: 0 5px 10px 5px;

    }
    footer img{
        width: 100px;
        object-fit: scale-down;
        padding-top: 3px;
    }
    footer p{
        text-align: center;
        /* padding: 0 5px 10px 5px; */
    }

}

