main{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
   
}
#mecanizados{

}
#mecanizados h2{
    font-size: 30px;
    font-weight: 800;

}
#mecanizados h3{
    font-size: 22px;
    font-weight: 500;
}
#mecanizados p{
    font-size: 18px;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
    
    
    
}

.fotos h4{
    font-size: 19px;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    text-align: center;
    padding: 3px 6px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    position: absolute;
    top: -53px;
    right: 0;
    left: 0;
}

.img{
    position: relative;
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.75);
    border-radius: 1rem;
    height: 317px;
    
    
}


.img img{
    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    
    
}
