@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --gris: rgb(125, 124, 124);
    --blanco: rgb(247, 242, 242);
    --rojo: rgb(199, 46, 46);
    --negro: rgb(0, 0, 0);
    --bg-footer: rgba(247, 242, 242, 0.8);
    --bg-gris: rgb(192, 192, 192);
    --bg-negro: rgba(0, 0, 0, 0.8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: var(--blanco);
}
section{
    width: 100%;
}

/* ENCABEZADO */
header{
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid var(--gris);
/* LOGO */
}
.logo{
    height: 80px;
    object-fit: scale-down;
}
.navbar .logo:hover{
    filter: drop-shadow(0px -1px 2px rgb(125, 124, 124));
}
/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1400px;
}
.navbar-list{
    display: flex;
}
.navbar-list li a{
    font-size: 16px;
    color: var(--gris);
    padding: 6px 8px;
    display: block;
}
.navbar-list li a:hover{
    color: var(--rojo);
    font-weight: 600;
}
/* PRODUCTOS Y SERVICIOS DESTACADO */
.navbar-list li:nth-child(3) a{
    color: var(--rojo);
    font-weight: 600;
}
.navbar-list li:nth-child(3) li a{
    color: var(--gris);
}
.navbar-list li:nth-child(3) li a:hover{
    color: var(--rojo);
}
/* FIN PROD Y SERV DESTACADO */
.navbar-list li{
    float: left;
    position: relative;
    width: 130px;
    text-align: center;
    line-height: 25px;
}
.navbar-list li ul{
    display: none;
    position: absolute;
    min-width: 130px;
    background: var(--blanco);
}
.navbar-list li:hover > ul{
    display: block;
}
/* MENU HAMBURGUESA */
.menu-icon{
    color: grey;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}
.menu-icon:hover{
    color: var(--rojo);
}
.menu-label,
#menu-toggle{
    display: none;
}
/* OVERLAY */
.overlay{
    position: absolute;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(0, 22, 40, .6);
    backdrop-filter: blur(5px);
    display: none;
}

/* HERO */
#hero{
    background-image: url(./hero/frente\ ok.jpg);
    position: relative;
    height: calc(100vh - 100px);
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    width: 100%;
    animation: banner 30s infinite ease-out;
}
/* BANNER */
.banner-content{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* H1 */
.banner-content h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
    color: var(--blanco);
    text-shadow: -2px -2px 1px var(--negro);
    animation: translateY 3s forwards;
}
@keyframes translateY{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0);
    }
}
/* BOTON HERO */
#hero .banner-content a{
    padding: 9px 20px;
    border: 1px solid var(--blanco);
    transition: all .3s ease-in-out;
    color: var(--blanco);
    border-radius: 1rem;
    animation: translatea 3s forwards;
}
@keyframes translatea{
    0%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0);
    }
}
#hero .banner-content a:hover{
    background-image: url(./prueba\ bg\ boton.webp);
    background-size: cover;
    background-position: center;
    color: var(--blanco);
    transform: scale(1.1,1.1);
    transition: all 400ms ease-in-out;
    animation-direction: alternate;
}
/* ANIMACION IMGS HERO */
@keyframes banner{
    0%{
        background-image: url(./hero/frente\ ok.jpg);
    }
    20%{
        background-image: url(./hero/frente\ ok.jpg);
    }
    21%{
        background-image: url(./hero/mecanizados\ ok.jpg);
    }
    40%{
        background-image: url(./hero/mecanizados\ ok.jpg);
    }
    41%{
        background-image: url(./hero/Prueba\ de\ func\ 112358.jpg);
    }
    60%{
        background-image: url(./hero/Prueba\ de\ func\ 112358.jpg);
    }
    61%{
        background-image: url(./hero/ok1.jpg);
    }
    80%{
        background-image: url(./hero/ok1.jpg);
    }
    81%{
        background-image: url(./hero/20160407_103108.jpg);
    }
    100%{
        background-image: url(./hero/20160407_103108.jpg);
    }
}

/* CONTACTANOS */
#contactanos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: url(./bg4contacto.jpg);
    border-width: 3px;
    border-color: var(--blanco);
    border-style: solid;
    z-index: 2;
    border-radius: 1rem;
    margin-top: -12px;
}
#contactanos .banner-content{
    border-radius: 1rem;
}
.contactanos{
    display: flex;
    max-width: 1400px;
    align-items: center;
    height: 150px;
    gap: 13px;
    margin: 0 7px;
}
.contactanos p{
    font-size: 26px;
    color: var(--blanco);
    font-style: italic;
    font-weight: 500;
    text-shadow: 3px 3px 2px rgb(199,46,46);
}
/* CONTACTANOS BOTON */
.contactanos a{
    padding: 9px 20px;
    border: 2px solid var(--bg-footer);
    background-image: url(./prueba\ bg\ boton.webp);
    background-size: cover;
    background-position: center;
    color: var(--blanco);
    border-radius: 1rem;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    transition: all .3s ease-in-out;
    text-shadow: 2px 2px 2px var(--bg-negro);
}
.contactanos a:hover{
    text-shadow: -3px -3px 3px var(--bg-negro);
}

/* NOSOTROS */
#ingenieria-control h2{
    text-shadow: 3px 3px 2px var(--bg-negro);
}
#contacto h2,
#servicios h2,
#hero .banner-content a,
.ingenieria h3,
.calidad h3{
    text-shadow: 3px 3px 2px rgb(199,46,46);
}
#hero .banner-content a{
text-shadow: 2px 2px 2px var(--negro);
}
#nosotros{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    position: relative;
    margin-top: -12px;
}

.background{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    position: absolute;
    top: 0;
    width: 100%;
}
/* EMPRESA */
.empresa{
    max-width: 1200px;
    text-align: justify;
    border-start-start-radius: 200px;
    border-start-end-radius: 200px;
    z-index: 2;
    border-bottom: 3px solid var(--negro);
    box-shadow: 0px -6px 18px 4px rgba(0,0,0,0.8);
    background: var(--bg-negro);
    margin: 0 15px 0 15px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.empresa h2,
.clientes h2,
#servicios h2,
#ingenieria-control h2,
#contacto h2{
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
    color: var(--bg-gris);

}
.clientes h2{
    color: var(--gris);
}
.empresa h2{
    color: var(--blanco);
    text-shadow: 3px 3px 2px rgb(199,46,46);
}
.empresa p{
    padding: 30px 60px;
    font-size: 20px;
    font-weight: 600;
    color: var(--blanco);
    text-align: justify;
    letter-spacing: 2px;
}
/* CLIENTES */
.clientes{
    max-width: 1400px;
    align-items: center;
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
    z-index: 2;
    background-color: var(--bg-footer);
    margin: 0 15px 0 15px;
    overflow-y: scroll;
    height: 200px;
    width: 60%;
    box-shadow: -6px 0px 18px 4px rgba(0,0,0,0.8);
}
.img{
    display: flex;
    padding: 30px 50px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.clientes img{
    width: 100px;
    height: 70px;
    object-fit: contain;
}

/* SERVICIOS */
#servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(./bg4contacto.jpg);
    background-position: center;
    background-size: cover;
}
#servicios h2{
    color: var(--bg-gris);
    padding: 40px 0;
}
/* PRODUCTOS */
.products-container{
    display: flex;
    gap: 7.5px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
    max-width: 1200px;
    background: var(--bg-gris);
    padding: 100px 0;
    margin-bottom: 70px;
    border-radius: 50%;
}
.product{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-gris);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 395px;
    height: 395px;
    border-radius: 1rem;
    padding: 70px 0;
    position: relative;
    z-index: 1;
}
.product:hover h3{
    text-shadow: 0px 6px 5px rgba(199,46,46,0.6);
}
.mecanizados:hover{
    box-shadow: -12px 12px 18px -4px var(--rojo);
}
.transmisiones:hover{
    box-shadow: 12px -12px 18px -4px var(--rojo);
}
.transportadores:hover{
    box-shadow: 12px 12px 18px -4px var(--rojo);
}
.product::after,
.ingenieria::after,
.calidad::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 22, 40, .6);
    z-index: -1;
    border-radius: 1rem;
}
.product h3,
.ingenieria h3,
.calidad h3{
    color: var(--blanco);
    font-size: 33px;
    font-weight: 900;
    letter-spacing: 3px;
}
.product ul,
.ingenieria ul,
.calidad ul{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.product ul li,
.ingenieria ul li,
.calidad ul li{
    font-size: 22px;
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
    line-height: 28px;
}
/* PRODUCT BOTON */
.product button{
    background: none;
    border: 2px solid var(--blanco);
    padding: 10px 35px;
    color: var(--blanco);
    font-weight: 700;
    font-size: 15px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;

}
.product button:hover{
    background-image: url(./prueba\ bg\ boton.webp);
    background-size: cover;
    background-position: center;
    transition: all 400ms ease-in-out;
}
/* MECANIZADOS */
.mecanizados{
    background-image: url(./Mecanizados/PIÑON\ Z23\ MN25\ mec\ bg.jpg);
    background-size: cover;
    background-position: center;
}
/* TRANSMISIONES */
.transmisiones{
    background-image: url(./Transmisiones/Tren\ de\ engranajes\ 6\ transm\ bg.jpg);
    background-size: cover;
    background-position: center;
}
/* TRANSPORTADORES */
.transportadores{
    background-image: url(./Transportadores/transportadora\ ok.jpg);
    background-size: cover;
    background-position: center;
}

/* INGENIERIA Y CONTROL*/
#ingenieria-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}
/* INGENIERIA */
.ing-control{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-height: 1041px;
    /* background: var(--bg-gris); */

}
.background-2{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 1041px;
    position: absolute;
    width: 100%;
    display: flex;
}

#ingenieria-control h2{
    color: var(--bg-gris);
    z-index: 2;
    padding: 40px 0;
    text-shadow: 0px 6px 5px rgba(199,46,46,0.6);
}
/* CALIDAD */
.ingenieria,
.calidad{
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background: var(--bg-negro);
    position: relative;
    z-index: 2;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 35px;
    border: 1px solid var(--blanco);
}
.ingenieria:hover,
.calidad:hover{
    transform: scale(1.05,1.05);
    transition: all 300ms ease-out;
    animation-direction: alternate;
}
.ingenieria{
    margin-top: 60px;
}

.calidad{
    margin-bottom: 60px;

}
.calidad ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: flex-start;
}
.ingenieria ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* CONTACTO */
#contacto{
    display: flex;
    flex-direction: column;
    background-image: url(./bg4contacto.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#contacto .banner-content{
    border-radius: 1rem;
}
#contacto h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--blanco);
    padding: 40px 0;
}
#contacto p{
    font-size: 25px;
    color: var(--bg-footer);
    text-align: center;
    padding: 0 23px 30px 23px;
}
/* DATOS */
.datos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    background-image: url(./contacto4.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    border: 2px solid var(--bg-gris);
    margin-bottom: 50px;
}
/* DIV DATOS */
.datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: none;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.datos-container h3{
    color: var(--blanco);
    font-size: 32px;
    padding: 40px 0;
    text-align: center;
    text-shadow: 2px 2px 2px var(--negro);
}
.datos ul h4{
    color: var(--blanco);
    font-size: 25px;
    padding-bottom: 16px;
    text-shadow: 3px 3px 2px rgba(199,46,46,0.6);

}
.datos ul li i{
    text-shadow: -2px -3px 1px rgba(199,46,46,0.6);
}
.datos ul{
    padding: 30px;
    background: var(--gris);
    width: 380px;
    gap: 6px;
    height: 154px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.direccion ul{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: solid 2px var(--bg-gris);
    box-shadow: 0px -5px 12px 3px rgba(192,192,192,0.75);
}
.mail ul{
    border: solid 2px var(--bg-gris);
    box-shadow: 0px 0px 12px 3px rgba(192,192,192,0.75);
}
.telefono ul{
    border: solid 2px var(--bg-gris);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 5px 12px 3px rgba(192,192,192,0.75);
}
.datos ul li{
    font-size: 20px;
}
.direccion,
.mail,
.telefono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}
/* MAPA */
iframe{
    height: 100%;
    width: 100%;
}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: none;
    height: 500px;
    box-shadow: 0px 0px 12px 3px rgba(192,192,192,0.75);
    margin: 70px 0;
    border: 3px solid var(--gris);
}
/* PIE DE PAGINA */
footer{
    background: var(--negro);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 60px;
}


/* MEDIAQUERIES */
@media (max-width: 992px){

    /* NAVBAR */
    .navbar-list{
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        width: 90%;
        display: none;
        flex-direction: column;
        background-color: var(--bg-negro);
        border: 2px solid var(--bg-gris);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        align-items: center;
        display: none;
    }
    .navbar-list li ul{
        display: none;
        left: 130px;
        top: 0px;
        padding: 0 15px;
    }
    .navbar-list li ul{
        border-left: 1px solid var(--rojo);
        margin-top: -23px;
        background: unset;
    }
    .navbar-list li a{
        color: var(--blanco);
    }

    /* MENU HAMBURGUESA */
    .menu-label{
        display: flex;
        cursor: pointer;
        order: 2;
    }
    #menu-toggle:checked ~ .navbar-list{
        display: flex;
    }
    #menu-toggle:checked ~ .overlay{
        display: block;
    }

    /* MAIN */
    main{
        padding-top: unset;
    }

    /* HERO */
    #hero{
        height: calc(100vh - 100px);
        animation: none;
    }
    #hero,
    .banner-content{
        border-radius: unset;
    }

    /* CONTACTANOS */
    #contactanos{
        padding: 0 10px;
        gap: 3px;
    }
    .contactanos{
        gap: unset;
    }
    .contactanos p{
        font-size: 25px;
        padding: unset;
    }
    .contactanos a{
        font-size: 25px;
    }
    
    /* NOSOTROS */
    #nosotros{
        padding: 0 20px;
    }
    .empresa h2{
        padding: 5px 0;
    }
    .clientes h2{
        padding: 5px 0 15px 0;
    }
    .empresa p,
    .clientes .img{
        font-size: 20px;
        padding: 15px 30px;
    }

    /* SERVICIOS */
    .products-container{
        margin: 10px;
    }
    .product{
        max-width: 90%;
    }
    .transmisiones:hover{
        box-shadow: 12px 12px 18px -4px var(--rojo);
    }

    /* ING-CONTROL */
    .ingenieria,
    .calidad{
        max-width: 90%;
        height: unset;
    }
    .background-2{
        min-height: 1118px;
    }

    /* CONTACTO */
    .datos-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 100%;
    }
    .datos{
        gap: 20px;
        align-items: center;
        width: unset;
        max-width: 90%;
        padding-left: unset;
    }
    .datos h4,
    .datos ul li{
        text-align: center;
    }
    .datos ul{
        padding-left: 42px;
    }

    /* FOOTER */
    footer{
        gap: 30px;
    }
}

@media (max-width: 576px){

    /* MAIN */
    main{
        margin-top: 100px;
    }

    /* NAVBAR */
    .navbar-list{
        left: 0;
        width: 100%;
        border: none;
        height: 100vh;
    }
    .navbar-list li ul{
        left: 0;
        top: 62px;
        padding: unset;
    }
    .navbar-list li:hover > ul{
        display: none;
    }

    /* HERO */
    #hero{
        display: none;
    }
   
    /* CONTACTANOS */
    #contactanos{
        display: none;
    }

    /* NOSOTROS */
    #nosotros{
        padding: 0 5px;
        height: 812px;
    }
    #nosotros .background{
        height: 812px;
    }
    /* EMPRESA */
    .empresa{
        justify-content: flex-start;
        border-radius: unset;
        height: auto;
    }
    .empresa{
        margin-top: 8px;
        width: 96%;
    }
    .empresa p{
        font-size: 16px;
        text-align: center;
        padding: 10px 47px;
    }
    /* CLIENTES */
    .clientes{
        width: 86%;
        height: 218px;
    }    
    .clientes h2{
        padding: 10px 0;
    }

    /* SERVICIOS */
    .products-container{
        margin-bottom: 45px;
        background: none;
        gap: 22px;
        padding: unset;
    }
    .product{
        max-width: 300px;
        height: auto;
        padding: 30px 5px;
    }
    .product h2{
        letter-spacing: unset;
        font-size: 10px;
    }
    #servicios h3{
        font-size: 25px;
    }
    #servicios ul li{
        font-size: 20px;
    }
    .mecanizados:hover{
        box-shadow: 12px 12px 18px -4px var(--rojo);
    }

    /* INGENIERIA-CONTROL */
    .background-2{
        min-height: 1147px;
        background-image: none;
    }
    .ingenieria,
    .calidad{
        width: 90%;
        padding: 15px 20px;
    }
    .ingenieria{
        margin-top: 45px;
    }
    .calidad{
        margin-bottom: 45px;
    }
    .ingenieria-list{
        gap: 15px;
    }
    .calidad ul{
        gap: 12px;
    }

    /* CONTACTO */
    .datos-container h3{
        font-size: 20px;
    }
    .datos{
        margin-bottom: 30px;
    }
    .datos ul{
        padding: unset;
        width: 280px;
    }
    .datos ul li{
        font-size: 16px;
    }
    .mapa{
        display: none;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        gap: unset;
        padding: 0 5px 10px 5px;
    }
    footer img{
        width: 100px;
        object-fit: scale-down;
        padding-top: 3px;
    }
    footer p{
        text-align: center;
    }

}

